.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  text-align: center;
  max-width: 600px;
}

.dataContainer h1 {
  color: darkslategray;
}

.header {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 1em;
}

.book-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;
  margin-top: 2em;
}

.book-results div {
  border: solid black 2px;
  border-radius: 5px;
  padding: 0px 2em;
}

.book-results div h4 span {
  color: crimson;
}

.waveText {
  margin-top: 2.5em;
  padding: 1em;
  width: 70%;
  border: black solid 1px;
  text-align: justify;
  font-size: 18px;
}

.waveButton {
  cursor: pointer;
  margin-top: 1.5em;
  padding: 1em;
  border: 0;
  border-radius: 5px;
  font-size: 18px;
  width: 100%;
}

.waveButton:hover {
  background: #667db6;
  background: -webkit-linear-gradient(
    to right,
    #667db6,
    #0082c8,
    #0082c8,
    #667db6
  );
  background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
  font-weight: bold;
  color: whitesmoke;
}

footer {
  position: fixed;
  text-align: center;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: white;
}
